<h1>hellow world </h1>



<h2>search for news </h2>
<div id="stock-search">
  <%= form_tag searchstock_path , remote: true , method: :get, id:"stock-search" do %>
      <div class="form-group col-md-12">
        <div class="col-md-9">
          <%= text_field_tag :stock , params[:stock], placeholder: "search" , autofocus: true,  class: "form-control"  %>
        </div>
        <div class="col-lg-3">
          <%= button_tag(type: :submit, class:" btn btn-lg btn-success") do %>
                 hello
            <% end %>
        </div>
  </div>
  <% end %>
</div>

<div id= "results">
 <%= render 'result' %>
</div>
